.step{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .flex {
    display: flex;
    gap: 10px;

    .column {
      flex-direction: column;
      display: flex;
      gap: 4px;
    }
  }

  label {
    font-family: Dudka;
    font-weight: 700;
    font-size: 20px;
    color: black;

    span {
      color: #980000;
    }
  }

  input {
    width: 270px;
    height: 33px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #666;
    outline: none;
    font-size: 16px;
  }

  span {
    font-family: Gotham Pro;
    font-weight: 700;
    font-size: 20px;
    color: #071249;
  }

  button {
    margin-top: 10px;
    background: #1e43a3;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}


@media (max-width: 1024px) {
  .form {
    gap: 12px;

    .flex {
      gap: 8px;
    }

    input {
      width: 100%;
    }

    label {
      font-size: 18px;

      span {
        font-size: 18px;
      }
    }

    span {
      font-size: 18px;
    }

    button {
      font-size: 18px;
      padding: 10px;
    }
  }
}

@media (max-width: 550px) {
  .form {
    .flex {
      flex-direction: column;
      gap: 10px;
    }

    input {
      width: 100%;
      font-size: 15px;
      height: 32px;
    }

    label {
      font-size: 16px;

      span {
        font-size: 16px;
      }
    }

    span {
      font-size: 16px;
    }

    button {
      font-size: 16px;
      padding: 10px;
    }
  }
}

@media (max-width: 280px) {
  .form {
    input {
      font-size: 14px;
      height: 28px;
    }

    label {
      font-size: 14px;

      span {
        font-size: 14px;
      }
    }

    span {
      font-size: 14px;
    }

    button {
      font-size: 14px;
      padding: 8px;
    }
  }
}
