.FormParcipants {
  position: relative;
  margin-top: 56px;
padding-bottom: 40px;

  .container {
    width: 1318px;
    height: 695px;
    display: flex;

    .numbers {
      display: flex;
      flex-direction: column;

      h5 {
        width: 30px;
        height: 55px;
        padding: 20px 10px;
        background: #2348A3;
        color: white;
      }

      .number,
      .number2 {
        width: 30px;
        height: 64px;
        padding: 24.5px 10px;
        font-size: 16px;
        color: black;
      }

      .number {
        background: white;
      }
      .number2 {
        background: #F5F6FF;
      }
    }

    .names, .emails, .companiya, .phonenumbers {
      display: flex;
      flex-direction: column;

      h5 {
        width: 322px;
        height: 55px;
        padding: 20px 10px;
        background: #2348A3;
        color: white;
        font-size: 16px;
        font-weight: 700;
      }

      div {
        width: 322px;
        height: 64px;
        padding: 24.5px 10px;
      }

      .name, .email, .company, .phonenumber {
        background: white;
      }

      .name2, .email2, .company2, .phonenumber2 {
        background: #F5F6FF;
      }
    }
  }
}

.swiper { width: 100%; }

.swiper-pagination {
  bottom: -5px;
  z-index: 10;
}

.bullet {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  background: #E950A0;
}

.swiper-pagination-bullet-active {
  background: #E950A0;
  color: white;
  transform: scale(1.2);
}

.customPrev
  {
    position: absolute; 
    top: 712px; 
    padding-top: 3px;  
    padding-left: 2px;   
    border: 1.5px solid #292D32;
    width: 29.16666603088379px;
height: 29.16666603088379px;
border-width: 1.5px;
font-size: 20px;  
font-weight: bold;
    cursor: pointer;
    z-index: 10;
    color: black;
    user-select: none;
    border-radius: 50%;
  }
  .customNext {
    position: absolute; 
    top: 712px; 
    padding-top: 3px;  
    padding-left: 5px;   
    border: 1.5px solid #292D32;
    width: 29.16666603088379px;
height: 29.16666603088379px;
border-width: 1.5px;
font-size: 20px;  
font-weight: bold;
    cursor: pointer;
    z-index: 10;
    color: black;
    user-select: none;
    border-radius: 50%;
  }
  
.customPrev { left: 44%; }
.customNext { right: 44%; }



