.Schedule{
    margin: 28px auto 0 auto;
    width: 1318px;
    .container{
        width: 1318px;
border-width: 1px;
border: 1px solid #F5F6FF;
display: flex;
    .Names{
        display: flex;
        flex-direction: column;
        h5{
            width: 1028px;
height: 55px;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 10px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #2348A3;
color: white;
        }
        .scheduls{
            width: 1028px;
height: 64px;
padding-top: 24.5px;
padding-right: 10px;
padding-bottom: 24.5px;
padding-left: 10px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #FFFFFF;
color: black;
        }
        .program{
            width: 1028px;
height: 64px;
padding-top: 24.5px;
padding-right: 10px;
padding-bottom: 24.5px;
padding-left: 10px;
color: black;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #F5F6FF;
        }
        .exhibition{
                      width: 1028px;
height: 64px;
padding-top: 24.5px;
padding-right: 10px;
padding-bottom: 24.5px;
padding-left: 10px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #FFFFFF;
color: black;  
        }
    }
    .documend{
        h5{
            width: 190px;
height: 55px;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 10px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #2348A3;
color: white;
        }
    }
    .rasp{
        width: 190px;
height: 64px;
padding-top: 24.5px;
padding-right: 10px;
padding-bottom: 24.5px;
padding-left: 10px;
border-bottom-width: 0.5px;
background: #FFFFFF;
color: black;
    }
    .prog{
        width: 190px;
height: 64px;
padding-top: 24.5px;
padding-right: 10px;
padding-bottom: 24.5px;
padding-left: 10px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #F5F6FF;
color: black;
    }
        .vyst{
        width: 190px;
height: 64px;
padding-top: 24.5px;
padding-right: 10px;
padding-bottom: 24.5px;
padding-left: 10px;
border-bottom-width: 0.5px;
background: #FFFFFF;
color: black;
    }
    .delete{
        display: flex;
        flex-direction: column;
      h5{
        width: 100px;
height: 55px;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 10px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #2348A3;
color: white;
      }  
      .garbage{
        width: 100px;
height: 64px;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 30px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #FFFFFF;
      }
            .garbage2{
        width: 100px;
height: 64px;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 30px;
border-right-width: 0.5px;
border-bottom-width: 0.5px;
background: #F5F6FF;
      }
    }
}
}