.spiker {
  margin-top: 203px;
position: relative;
  width: 1280px;
  height: 1346px;
  border-radius: 5px;
  border-width: 1px;
  border-style: dashed;
  margin-left: 10%;
  user-select: none;
  
  .container {
    padding: 20px;
    width: 100%;
    height: 643px;

    .top {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 32px;
      justify-content: space-between;
      position: relative;

      h3 {
        font-family: Dudka;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 100%;
color: #000000;
span{
  color:#036AB4;
}
      }
    }

    .arrows {
      display: flex;
      gap: 12px;  
    }
.btn2{
  position: absolute;
  margin-left: 1050px; 
      width: 80px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid #036ab4;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      background: white;
      cursor: pointer;
      &:hover {
  opacity: 0.5;
      }

      &.active {
        opacity: 0.5;
      }
}
    .btn {
    width: 80px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid #036ab4;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      background: white;
      cursor: pointer;
      &:hover {
      opacity: 0.5;
      }

      &.active {
        opacity: 0.5;
      }
    }

    .boxs {
      display: flex;
      column-gap: 177px;

      .box {
        width: 295px;
        .text {
          padding-top: 24px;
          width: 295px;

          h4 {
            font-family: Dudka;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            color: black;
          }

          p {
            padding-top: 8px;
            font-family: Dudka;
            font-weight: 100;
            font-size: 24px;
            line-height: 100%;
            color: black;
          }

          span {
            padding-top: 8px;
            font-family: Dudka;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            color: black;
          }
        }
      }
    }
  }
}